.list-container {
  --spacing: 24px;

  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(900px, 1fr) );
  grid-gap: var(--spacing);
  padding: var(--spacing);
}

.build {
  background: #4FC3F7;
  color: #123f4a;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  font-size: 32pt;
  font-weight: bold;
}
.build .fa {
  color: #bbebff;
}

.project {
  text-align: center;
  font-size: larger;
}

.build-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.time {
}

.build.failure {
  background: #B71C1C;
  color: #d2aeaf;
}
.build.failure .fa {
  color: #571515;
}

.build.success {
  background: #4CAF50;
  color: #0d360d;
}
.build.success .fa {
  color: #54ea54;
}

.build.unstable {
  background: #FB8C00;
  color: black;
}

.build.not_built {
  background: #00BCD4;
  color: #003743;
}

.build.aborted {
  background: #BDBDBD;
  color: #2d2d2d;
}

.build.aborted .fa {
  color: #f5f5f5
}
