script(type='text/javascript').
  var rootFolder = 'successImages'
  var imgs = [
    `${rootFolder}/cat_success.jpeg`,
    `${rootFolder}/nyan.gif`
  ]

  function setRandomImage() {
    var img = imgs[Math.floor(Math.random() * imgs.length)];
    $("#successImage").attr("src", img);
  }

  setRandomImage();
  $(document).ready(function(){
    setInterval (function() {
     setRandomImage();
    }, 5000 );
  });

.success-container
  img#successImage
