- var rootFolder = 'successImages'
-
  var imgs = [
    `${rootFolder}/img1.jpeg`,
    `${rootFolder}/img2.gif`
  ]
- var img = imgs[Math.floor(Math.random() * imgs.length)]

.success-container
  img(src=img)
