script(type='text/javascript').
  var secondsPerImage = 20;
  var images = JSON.parse('!{files}');
 
  function setRandomImage() {
    var img = images[Math.floor(Math.random() * images.length)];
    $("#successImage").attr("src", img);
  }

  $(document).ready(function(){
    setRandomImage();
    setInterval (function() {
     setRandomImage();
    }, secondsPerImage * 1000 );
  });

.success-container
  img#successImage
